<!DOCTYPE html>
<html>
<head>
    <title>details</title>
   
</head>
<body>


    <main>
    <form action="/newuser"    method="post">

<input type="text"  name="name">
<hr>
<input type="url"   name="image"   >
<hr>

<button type="submit">  creat</button>




    </form>
    </main>
</body>
</html>