<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    </html><form action="/signin" method="POST">

  <input name="email" placeholder="Email" required>
  <br><br>

  <input name="password" type="password" placeholder="Password" required>
  <br><br>

  <button>Sign In</button>

</form>

</body>
